@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/super-mario-world-text-box');
body, html {
  //font-family: 'Press Start 2P', cursive;
  font-family: 'Super Mario World Text Box', sans-serif;
  margin: 0;
  padding: 0;
  //display: flex;
  background: whitesmoke;
  perspective: 700px;
  background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
}
.grid {
  $main: #59c1fe;
  $glow: rgba(#2e26ff, 0.4);
  background:
    linear-gradient(transparent 65%, $glow 75%, $main 80%, $glow 85%, transparent 95%),
    linear-gradient(90deg, transparent 65%, $glow 75%, $main 80%, $glow 85%, transparent 95%);
  background-size: 30px 30px;
  width: 200vw;
  height: 250vh;
  position: absolute;
  bottom: -120vh;

  transform: rotateX(-100deg);
  -webkit-mask-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 80%);
}

:root{
  --status: rgba(39, 234, 9, 0.956);
}
