@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/super-mario-world-text-box');
body, html {
  //font-family: 'Press Start 2P', cursive;
  font-family: 'Super Mario World Text Box', sans-serif;
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    to bottom,
    black,
    black 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  )
 // background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
}


:root{
  --status: rgba(39, 234, 9, 0.956);
}
