@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/super-mario-world-text-box');
body, html {
  //font-family: 'Press Start 2P', cursive;
  font-family: 'Super Mario World Text Box', sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}
:root{
  --status: rgba(39, 234, 9, 0.956);
}
