

<div style="display: flex; align-items: center;">
	<div style="padding: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
	</div>

	<div style="padding: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
	</div>

	<div style="padding: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
	</div>

	<div style="padding: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
	</div>

	<div style="padding: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
	</div>
</div>