

<div style="display: flex; align-items: center; justify-content: center; " >
	<div style="margin: 10px; display:grid; align-items: center; justify-content: center;" >
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" alt="krios-fu"/>
			</figure>
			<div style="font-size:5px; padding: 5px; ">krios-fu</div>
	</div>

	<div style="margin: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
		<div style="font-size:5px; padding: 5px; ">krios-fu</div>
	
	</div>

	<div style="margin: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
		<div style="font-size:5px; padding: 5px; ">krios-fu</div>


	</div>

	<div style="margin: 10px; ">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
		<div style="font-size:5px; padding: 5px; ">krios-fu</div>


	</div>

	<div style="margin: 10px;">
		<figure class="avatar">
			<img
				src="https://static.displate.com/857x1200/displate/2019-09-18/5f38a199586dbedd7dcd6ed83ebf8685_e60fb9dda25cdcab882f9eb8c1ac11da.jpg" />
		</figure>
		<div style="font-size:5px; padding: 5px; ">krios-fu</div>


	</div>
</div>