<div style="	display: flex; 
position: relative; 
align-items: center;  
justify-content: center;
height: 60px;
padding: 40px;" *ngIf="user">
  <figure class="avatar">
    <img src={{getPhotoUrl()}}  />
  </figure>
</div>
<div style="display: flex; 
position: relative; 
align-items: center;  
justify-content: space-around;
" *ngIf="user">
  <h1   style="font-size: 14px;">{{getUsername()}}</h1>
</div>

<div *ngIf="user" style="display: flex; justify-content: space-between; align-items: center; padding: 21px">
  <span>
    <mat-icon>emoji_events</mat-icon>
    <h3 style="color : goldenrod;">42</h3>
  </span>
  <span>
    <mat-icon>leaderboard</mat-icon>
    <h3 style="color : rgb(0,149,255);">1</h3>
  </span>
  <span>
    <mat-icon>trending_down</mat-icon>
    <h3 style="color : rgb(255,0,47);">42</h3>
  </span>
</div>
