.row {
	height: calc(100vh - 4rem);
	display: flex;
	clear: both;
	padding: 0;
	margin: 0;
	h1, h2 {
	  font-weight: normal;
	  font-size: 14px;
	  margin: 0;
	  padding: 0;
	}
  
	h2 {
	  color: rgba(255, 255, 255, .5);
	  font-size: 8px;
	  letter-spacing: 1px;
	}
	// max-height: 100vh; /* Establece la altura máxima del div al 100% del alto de la ventana */
	// overflow-y: auto;
  
  }

  .column1  {
	float: left;
	width: 20%;
	padding: 10px;
	color: white;
	// height: auto;
	background: inherit;
	// overflow: hidden;
	// border: 3px groove rgba(245, 245, 245, 0.29);
	text-transform: uppercase;
	min-width: 21rem;
	position: relative;
  
   
  
  
   // min-height: 21rem;
	//border-top: none;
	//box-shadow: 0 10px 4px #818181;
  
  
	a{
	  color: white;
	}
  
  
	
	// .example-tree-invisible {
	//   display: none;
	// }
  
	.example-tree ul,
	.example-tree li {
	  margin-top: 0;
	  margin-bottom: 0;
	  list-style-type: none;
	  //color: red;
	}
  
	/*
	 * This padding sets alignment of the nested nodes.
	 */
	.example-tree .mat-nested-tree-node div[role=group] {
	  padding-left: 20px;
	  //color: white;
  
	}
  
	/*
	 * Padding for leaf nodes.
	 * Leaf nodes need to have padding so as to align with other non-leaf nodes
	 * under the same parent.
	 */
	.example-tree div[role=group] > .mat-tree-node {
	  padding-left:20px;
	}
  
  
  }


  
  .column2 {
	float: left;
	width: 80%;
	padding: 0;
	margin: 0;
	position: relative;
	border-left: none;

	background-position: center; /* Center the image */
  	background-size: cover;

	// height: 75%;
  
  }

