<div style=" display: compact; align-items: center; text-align: center; flex-direction: column; z-index: 10;   margin-left:auto; margin-right: auto;">
  <h1>
    <span>PING PONG</span>
    <span>PING PONG</span>
  </h1>
  <h2>FT_TRANSCENDES</h2>


  <!--routerLink="localhost:3000/auth/42-->
  <a href="http://localhost:3000/auth/42" class="btn-neon" style="transform: translateY(100px); z-index: 10;">
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
    <span class="span4"></span>
    START
  </a>
</div>

