<div style="	display: flex; 
position: relative; 
align-items: center;  
justify-content: center;
height: 60px;
padding: 40px;" *ngIf="user">
  <figure class="avatar">
    <img src={{getPhotoUrl()}}  />
  </figure>
</div>
<div style="display: flex; 
position: relative; 
align-items: center;  
justify-content: space-around;
" *ngIf="user">
  <h1   style="font-size: 14px;">{{getUsername()}}</h1>
</div>

<div *ngIf="user" style="display: flex; justify-content: space-between; align-items: center; padding: 21px">
  <span>
    <mat-icon>emoji_events</mat-icon>
    <h3 style="color : goldenrod;">42</h3>
  </span>
  <span>
    <mat-icon>leaderboard</mat-icon>
    <h3 style="color : rgb(0,149,255);">1</h3>
  </span>
  <span>
    <mat-icon>trending_down</mat-icon>
    <h3 style="color : rgb(255,0,47);">42</h3>
  </span>
</div>

<a mat-icon-button (click)="plus()" class="tree" style="margin: 5px; box-shadow: inset 4px white;">
  <mat-icon>{{plus_minus}}</mat-icon>
  ROOM AND DM
</a>

<cdk-virtual-scroll-viewport *ngIf="status_room" class="efecct"
  style="height: 45vh; position: relative; color: white;
  /* box-shadow: 0 0 4px 0 goldenrod; */
	border-radius: 20px;
  flex-direction:column-reverse;" itemSize="5">
  <app-room></app-room>

</cdk-virtual-scroll-viewport>


<div style="margin-top: 40px;" class="effect" *ngIf="!status_room">
  <div style="display: flex; justify-content: center; padding: 10px;">
    <h1 style="font-size: 10px;">Friends online</h1>
  </div>
  <cdk-virtual-scroll-viewport class="cdk-virtual-scroll-content-wrapper"
    style=" height: 10vh; position: relative; color: white;" itemSize="5">
    <section>
      <app-friend-online></app-friend-online>
    </section>
  </cdk-virtual-scroll-viewport>
  
</div>