
<div class="badge">

  <figure class="avatar">
    <img src={{getPhotoUrl()}}  />
  </figure>
  <mat-icon  [ngStyle]="{'color': color_icon}" class="icon-display" 
  style="position: absolute; bottom: -5px;">{{online_icon}}</mat-icon>
</div>
<!-- </div> -->
<div style="display: flex; 
position: relative; 
align-items: center;  
justify-content: space-around;
" *ngIf="user">
  <h1   style="font-size: 14px;">{{getNickname()}}</h1>
</div>

<div *ngIf="user" style="display: flex; justify-content: space-between; align-items: center; padding: 21px">
  <span>
    <mat-icon>emoji_events</mat-icon>
    <h3 style="color : goldenrod;">42</h3>
  </span>
  <span>
    <mat-icon>leaderboard</mat-icon>
    <h3 style="color : rgb(0,149,255);">1</h3>
  </span>
  <span>
    <mat-icon>trending_down</mat-icon>
    <h3 style="color : rgb(255,0,47);">42</h3>
  </span>
</div>

<a mat-icon-button (click)="plus()" class="tree" style="margin: 5px; box-shadow: inset 4px white;">
  <mat-icon>{{plus_minus}}</mat-icon>
  CHATS & ROOM
</a>

<app-room *ngIf="status_room"></app-room>

<div style="margin-top: 40px;" class="effect" *ngIf="!status_room">
  <div style="display: flex; justify-content: center; padding: 10px;">
    <h1 style="font-size: 10px;">Friends online</h1>
  </div>
  <cdk-virtual-scroll-viewport class="cdk-virtual-scroll-content-wrapper"
    style=" height: 10vh; position: relative; color: white;" itemSize="5">
    <section>
      <app-friend-online></app-friend-online>
    </section>
  </cdk-virtual-scroll-viewport>
  
</div>