@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}

	100% {
		--rotate: 360deg;
	}


}


.icon-display {
  transform: scale(1) translateX(42px);
  color: greenyellow;
  box-shadow: inset 4px;
}

.badge {

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: initial;

  .avatar {
    position: relative;
    left: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border: 3px solid rgb(255, 255, 255);

    img {
      width: 100%;
      height: auto;

    }
  }
}

div {
  // border: 1px solid rgba(245, 245, 245, 0.29);
  border: outset 2px silver;
  border-radius: 22px;


  //border-bottom: none;
  // &:last-child{
  //   border-bottom: 1px solid rgba(245, 245, 245, 0.29);
  // }

}


.icon_nav {
  color: white;

  &:hover {
    color: rgb(237, 235, 139);
  }
}

.icon_logout {
  color: white;

  &:hover {
    color: rgb(215, 20, 20);
  }
}

.tree {
  font-family: 'Super Mario World Text Box', sans-serif;
  font-size: 12px;
  padding: 10px;
  margin-top: 15px;
}

.cdk-virtual-scroll-content-wrapper .viewport {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scrollbar-base-color: whitesmoke;



}

.effect {


  animation: bounce-in 2s ease;
  animation: fade-in 2s linear both;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}