<div class="head">


	<!-- <div>setting</div> -->
	<figure class="avatar">
		<img src={{getPhoto()}} />
	</figure>
</div>

<div style="display: flex; 
	position: relative; 
	align-items: center;  
	justify-content: space-around;
	">
	<h1 style="font-size: 14px;">setting</h1>
</div>

<div style="font-size:x-small; padding: 15px; justify-content: center;">


	<form class="example-form" #form="ngForm" (ngSubmit)="alertFormValues(form.form, login.value)" *ngIf="this.user">

		<mat-slide-toggle (change)="changeDetected()" [(ngModel)]="this.user.doubleAuth" name="doubleAuth">2FA
			Authentication</mat-slide-toggle>
		<mat-slide-toggle (change)="changeDetected()" [(ngModel)]="this.user.acceptedTerms" name="acceptedTerms">Accept
			Terms of Service</mat-slide-toggle>
		<mat-slide-toggle (change)="changeDetected()" [(ngModel)]="this.user.defaultOffline" name="defaultOffline">
			Online</mat-slide-toggle>
		<mat-form-field class="example-full-width">
			<mat-label style="color: red;  padding-top: 10px;">
				<h2>
					Nickname<br> size min/max: 3/8 chararter
				</h2>
			</mat-label>
			<input #login ngModule name="nickName" style="color: white; font-size: large; margin-top: 40px;" matInput
				value={{this.user.nickName}} onKeyPress="if(event.keyCode == 13) event.returnValue = false;" (click)="changeDetected()">
		</mat-form-field>
		<br>
		<br>
		<br>

		<section style="justify-content: center;
			align-items: center; 
			display: flex;
			background-color: inherit;
			">
			<button>
				<mat-icon style="transform: scale(1.5); padding: 0px;">{{icon}}</mat-icon>
			</button>
		</section>
	</form>



	<!-- <p>Slide Toggle inside of a Reactive form</p>
		
		<form class="example-form" [formGroup]="formGroup" (ngSubmit)="alertFormValues(formGroup)" ngNativeValidate>
			
			<mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle>
			<mat-slide-toggle formControlName="acceptTerms">Accept Terms of Service</mat-slide-toggle>
			
			<p>Form Group Status: {{formGroup.status}}</p>
			
			<button mat-raised-button type="submit">Save Settings</button>
		</form> -->
</div>