 <div class="chat">
    <div class="chat-title">
      <h1>krios-fu</h1>
      <h2>Sensei</h2>
      <figure class="avatar">
        <img src="https://cdn.intra.42.fr/users/krios-fu.jpg"  alt="krios-fu"/></figure>
    </div>

   <div #update class="messages"  [scrollTop]="update.scrollHeight + 10">

     <div *ngFor="let msg of viewMessage()" >

     <div  *ngIf="msg.sender === getSocketId(); else other" class="message message-personal new"  > {{msg.msg}}</div>
     <ng-template #other> <div class="message new"> {{msg.msg}}</div></ng-template>
     </div>
   </div>
     <div class="messages-content" ></div>





    <div class="message-box">
      <form (ngSubmit)="sendMessage()" [formGroup]="formMessage" class="users-type">
        <input formControlName="message" type="text" class="message-input" placeholder="Type message...">
      <button type="submit" class="message-submit">Send</button>
      </form>
    </div>
  </div>
  <div class="bg"></div>



