
<div [ngClass]="state" >
  <div class="chat-title">
    <a href="#" class="avatar" >
    <img src="https://cdn.intra.42.fr/users/krios-fu.jpg"  alt="krios-fu" /></a>
    <h1>krios-fu</h1>
    <div class="icon" style="color : rgb(111, 255, 0); ">
      <button mat-icon-button (click)="chatMin()">
        <mat-icon>{{unfold}}</mat-icon>
      </button>
      <button mat-icon-button routerLink="../">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="options" style="padding: 1px;">
       <mat-icon>more_vert</mat-icon>
      </button>
     <mat-menu #menu="matMenu">
      <!--disabled option -->
      <button mat-menu-item >
        <mat-icon>block</mat-icon>
        <span>Block</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>

</div>

   <div #update class="messages"  [scrollTop]="update.scrollHeight + 10">

     <div *ngFor="let msg of viewMessage()" >
       <div *ngIf="msg.sender === getSocketId(); else other" class="message message-personal new"> {{msg.msg}}</div>
       <ng-template #other> <div class="message">
         <figure class="avatar">
           <img src="https://cdn.intra.42.fr/users/krios-fu.jpg">
         </figure> {{msg.msg}}
       </div></ng-template>
     </div>
   </div>
   <div class="message-box">
     <form (ngSubmit)="sendMessage()" [formGroup]="formMessage" class="users-type">
       <input formControlName="message" type="text" class="message-input" placeholder="Type message...">
       <button type="submit" class="message-submit">Send</button>
     </form>
   </div>
</div>

<!--<div style=" position: absolute; width: 95%; bottom: 0; z-index: 2; flex-direction: column;" >-->
<!--<div class="chat-title">-->
<!--  <a href="#" class="avatar" >-->
<!--        <img src="https://cdn.intra.42.fr/users/krios-fu.jpg"  alt="krios-fu" /></a>-->

<!--        <h1>krios-fu</h1>-->
<!--        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="options" >-->
<!--          <mat-icon>more_vert</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #menu="matMenu">-->
<!--          &lt;!&ndash;disabled option &ndash;&gt;-->
<!--          <button mat-menu-item >-->
<!--            <mat-icon>block</mat-icon>-->
<!--            <span>Block</span>-->
<!--          </button>-->
<!--          <button mat-menu-item>-->
<!--            <mat-icon>notifications_off</mat-icon>-->
<!--            <span>Disable alerts</span>-->
<!--          </button>-->
<!--        </mat-menu>-->
<!--</div>-->
<!--</div>-->

<!--<mat-accordion >-->
<!--  <mat-expansion-panel >-->

<!--    <mat-expansion-panel-header>-->
<!--     <mat-panel-title class="chat-title">-->
<!--       <h1>krios-fu</h1>-->
<!--         <h2>Sensei</h2>-->
<!--          <a href="#" class="avatar" >-->
<!--         <img src="https://cdn.intra.42.fr/users/krios-fu.jpg"  alt="krios-fu" /></a>-->
<!--     </mat-panel-title>-->
<!--   </mat-expansion-panel-header>-->

<!--       <div #update class="messages"  [scrollTop]="update.scrollHeight + 10">-->

<!--         <div *ngFor="let msg of viewMessage()" >-->
<!--           <div *ngIf="msg.sender === getSocketId(); else other" class="message message-personal new"> {{msg.msg}}</div>-->
<!--           <ng-template #other> <div class="message">-->
<!--             <figure class="avatar">-->
<!--               <img src="https://cdn.intra.42.fr/users/krios-fu.jpg">-->
<!--             </figure> {{msg.msg}}-->
<!--           </div></ng-template>-->
<!--         </div>-->
<!--       </div>-->
<!--    <mat-action-row class="message-box" style="align-items: center">-->
<!--         <form (ngSubmit)="sendMessage()" [formGroup]="formMessage" class="users-type">-->
<!--           <input formControlName="message" type="text" class="message-input" placeholder="Type message...">-->
<!--           <button type="submit" class="message-submit">Send</button>-->
<!--         </form>-->
<!--    </mat-action-row>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->


