<div id="avatar-container">
    <div id="back-btn"></div>
    <div class="avatar-actions">
        <div> ---- AVATAR ACTIONS ---- </div>
        <div class="avatar-actions-menu"> 
            <div class="avatar-img">
                <img src="https://t1.ea.ltmcdn.com/es/posts/5/8/1/cuidados_de_una_capibara_20185_600.webp">
            </div>
            <form>
                aqui va el boton del avatar y el nombre
            </form>
        </div>
        <div class="go-back-btn">GO BACK</div>
    </div>
</div>