.env
.idea
.env.development
.env.database
.DS_Store

.*
!.gitignore
!*/.dockerignore

# ~~ python virtual environment ~~ #
api
venv
**/__pycache__
backend/static/*
!backend/static/users
backend/static/users/*
!backend/static/users/danrodri.*
!backend/static/users/krios-fu.*
!backend/static/users/onapoli-.*
!backend/static/users/default-avatar.jpg
!backend/static/rooms
backend/static/rooms/*
!backend/static/rooms/atlantis.*
!backend/static/rooms/metropolis.*
!backend/static/rooms/wakanda.*
