<div>
  <router-outlet> </router-outlet>

  <div style="color: white; 

position: absolute;
justify-content:space-around;

display: flex;

background: rgb(4, 20, 51);
overflow: hidden;
margin-left: 10px;

border-radius: 50px;
/* border: 1px solid rgba(245, 245, 245, 0.29); */
border: outset 4px silver;

bottom: 1vh;">

    <div>
      <button mat-icon-button class="icon_logout" routerLink="/home/profile">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div>
      <!-- [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()"> -->
      <a mat-icon-button class="icon_nav" href="/login">
        <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small">

          people
        </mat-icon>
      </a>
    </div>
    <div>
      <a mat-icon-button class="icon_nav" routerLinkActive="active" routerLink="/home/setting">
        <mat-icon>manage_accounts</mat-icon>
      </a>
    </div>
    <!-- > -->
    <div>
      <a mat-icon-button class="icon_logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>
</div>