#main {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    overflow: auto;
}
#upper_body {
    background-color: greenyellow;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr 1fr;
}
#lower_body {
    background-color: green;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
}
.btn_block {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    border: 10px;
    border-radius: 5px;
    justify-content: center;
}
.avatar_block {
    background-color: azure;
    margin: auto;
    border: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar_block>img {
    border-radius: 50%;
    object-fit: cover;
}
