// #main {
//     background-color: white;
//     height: 100%;
//     width: 100%;
//     display: grid;
//     grid-template-rows: 1fr 1.5fr;
//     overflow: auto;
// }
// #upper_body {
//     background-color: greenyellow;
//     display: grid;
//     grid-template-rows: none;
//     grid-template-columns: 1fr 2fr 1fr;
// }
// #lower_body {
//     background-color: green;
//     display: grid;
//     grid-template-rows: none;
//     grid-template-columns: 1fr 1fr;
// }
// .btn_block {
//     background-color: cyan;
//     display: flex;
//     flex-direction: column;
//     border: 10px;
//     border-radius: 5px;
//     justify-content: center;
// }
// .avatar_block {
//     background-color: azure;
//     margin: auto;
//     border: 5px;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
// .avatar_block>img {
//     border-radius: 50%;
//     object-fit: cover;
// }

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.room_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr) minmax(0, 1fr);
    overflow: hidden;
}

.room_container_btn, .room_container_info, .panel_container {
    border: 3px silver outset;
    border-radius: 20px;
    margin: 5px;
    background: rgb(24,23,57);
    background: linear-gradient(90deg, rgba(24,23,57,1) 0%, rgba(2,0,36,1) 100%); 
}

.room_container_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room_container_info {
    display: flex;
    flex-direction: column;
}

.panel_container {
    width: 100%;
    height: 100%;
}

.avatar>img {
    width: 80%;
    height: auto;
}