<div id="main">
    <div id="upper_body">
        <div class="btn_block">
            <button mat-raised-button id="avatar_upload_btn" (click)="openAvatarModal()">select avatar.</button>
            <div>
                <mat-form-field>
                    <mat-label>change name.</mat-label>
                    <input matInput placeholder="name">
                </mat-form-field>
            </div>
            <div><button mat-raised-button color="primary" (click)="changeVisibilityModal()" >change visibility.</button></div>
        </div>
        <div class="avatar_block">
            <h1>{{ this.room?.roomName || "undefined" }}</h1>
            <img [src]="this.avatarUrl">
            <h1>placeholder</h1>
        </div>
        <div class="btn_block">
            <button mat-raised-button color="warning" id="delete_room" (click)="deleteRoomModal()">delete room.</button>    
        </div>
    </div>
    <div id="lower_body">
        <div>
            <h2> list of registered users. </h2>
            <div class="users-table">
                    <tr *ngFor="let user of registeredUsers">
                        <td>{{user.user.username}}</td>
                        <td>
                            <button>see profile</button>
                        </td>
                    </tr>
            </div>
        </div>
        <app-game-admin-detail *ngIf="selectedUser" [userDetail]="selectedUser" ></app-game-admin-detail>
    </div>
</div>