#main-container {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    font-size: initial;
}

#list-container {
    width: 80%;
    max-width: 600px;
    margin-top: 1rem;
    background-color: rgba($color: pink, $alpha: 0.7);
    border: 3px solid magenta;
}

.mat-list-item {
    color: indigo;
    cursor: pointer;
}

.mat-list-item:hover {
    background-color: indigo;
    color: magenta;
}

.mat-icon {
    color: inherit;
}

.mat-subheader {
    color: indigo;
}

.room-name-line {
    font-weight: bold;
}

.mat-divider {
    color: magenta;
}
