<div style=" display: flex; align-items:  center; flex-direction: column; transform: translateY(300px); ">
<h1>
  <span>PING PONG</span>
  <span>PING PONG</span>
</h1>
<h2>FT_TRANSCENDES</h2>

  <div class="wrapper">
    <div class="left_wall"></div>
    <div class="ball"></div>
    <div class="right_wall"></div>
    <div class="clear"></div>
  </div>


<a href="#" class="btn-neon" style="transform: translateY(100px); z-index: 10">
  <span class="span1"></span>
  <span class="span2"></span>
  <span class="span3"></span>
  <span class="span4"></span>
  START
</a>

</div>
<router-outlet></router-outlet>
