<h1>change avatar.</h1>
<div mat-dialog-content>
    <div id="select_avatar_input">
        <input type="file" class="file_upload" (change)="selectNewAvatar($event)" #avatar_upload>
        <button mat-raised-button color="primary" (click)="this.avatar_upload.click() ">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/></svg>Select avatar
        </button> {{ this.avatar?.name || "No file selected" }}
    </div>
    <div id="modal_footer">
        <span><button mat-raised-button [disabled]="!this.avatar" (click)="this.uploadAvatar()">Upload</button></span>
        <span><button mat-raised-button (click)="this.closeModal()">Close</button></span>
    </div>
</div>
