<div class="chat" *ngIf="user && me">
    <div class="chat-title">

        <div
            style="display: flex; justify-content: space-between; align-items: center; align-content: center; position:relative; width: 60%">

            <img class="avatar" src={{user.photoUrl}} alt="krios-fu" />

            <span>{{user.nickName}}</span>
        </div>


        <div class="icon" style=" display: flex; color : #ffffff; align-items: center; align-content: center;">
            <!-- <button mat-icon-button (click)="chatMin(); toggleBadgeVisibility()">
                <mat-icon>{{unfold}}</mat-icon>
            </button> -->

            <!-- <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button> -->
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="options" style="padding: 1px;">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <!--disabled option -->
                <button mat-menu-item (click)="sendInvitationGame()"
                    [routerLink]="[ '/', { outlets: {  game: ['room', user.username] } }]">
                    <mat-icon>videogame_asset</mat-icon>
                    <span>Game</span>
                </button>
                <button mat-menu-item [routerLink]="['/profile', user.username]">
                    <mat-icon>person</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>block</mat-icon>
                    <span>Block</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </div>

    </div>

    <div class="messages">
        <div *ngFor="let msg of messages">
            <div readonly *ngIf="msg.sender == this.me.id; else other" class="message message-personal new">
                {{msg.content}}
            </div>
            <ng-template #other>
                <div class="message">
                    <!-- <img class="avatar" src={{user.photoUrl}}> -->
                    {{msg.content}}
                </div>
            </ng-template>
        </div>
    </div>
    <div class="message-box">
        <form (ngSubmit)="sendMessage()" [formGroup]="formMessage">
            <textarea formControlName="message" type="submit" class="message-input"
                placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </form>
    </div>
</div>