<div class="main">
    
    <!-- <div class="master">
        <h1 style="color: rgb(242, 242, 242);">ROOMS</h1>
    </div> -->
    <div class="content">
        <mat-tab-group mat-stretch-tabs mat-align-tabs="end" color="warn" aria-label="primary">
            <mat-tab label="PUBLIC">
                <app-room-list roomPrivacy="public"></app-room-list>
            </mat-tab>
            <mat-tab label="PRIVATE">
                <app-room-list roomPrivacy="private"></app-room-list>
            </mat-tab>
            <mat-tab label="NEW">
                <app-room-creation-form></app-room-creation-form>
            </mat-tab>
            
        </mat-tab-group>
    </div>
    
  
</div>