<div mat-dialog-content>
    <div class="modal_private" *ngIf="!this.isPrivate; else private_input">
        <h2> make room private. </h2>
        <mat-form-field>
            <mat-label>introduce new password.</mat-label>
            <input matInput placeholder="password" [(ngModel)]="this.password">
        </mat-form-field>
        <mat-form-field> 
            <mat-label>repeat new password</mat-label>
            <input matInput placeholder="password" [(ngModel)]="this.validatePassword">
        </mat-form-field>
        <div class="modal_private_footer">
            <button mat-raised-button 
                (click)="this.closeModal()" id="btn_close_modal">Close</button>
            <button mat-raised-button [disabled]="!this.activatePostBtn()" 
                (click)="this.postPrivateRoom()" id="btn_private_room">Make private</button>
        </div>
    </div>
    <ng-template #private_input class="modal_public">
        <h2> make room public. </h2>
        <mat-form-field>
            <input matInput placeholder="confirm with password">
            <input matInput placeholder="repeat password">
        </mat-form-field>
        <div>
            <button mat-raised-button id="btn_close_modal">Close</button>
            <button mat-raised-button id="btn_private_room">Make private</button>
        </div>
    </ng-template>
</div>
