@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

.modal {
    overflow: hidden;
}

.modal-title {
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: 18px;
    width: minmax(auto, 250px);
}

.row {
    padding: 35px 5px;
}
.input-row {
    justify-content: center;
}