<mat-card class="modal">
<ng-container *ngIf="!this.isPrivate;else modal_private">
    <mat-card-title class="row modal-title">make this room private</mat-card-title>
    <mat-card-content class="row">
        <table>
        <tr class="modal-input-row">
            <mat-form-field>
                <mat-label> new password </mat-label>
                <input matInput type="password" 
                    [(ngModel)]="this.password" placeholder="password">
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field>
                <mat-label> repeat new password </mat-label>
                <input matInput type="password" 
                    [(ngModel)]="this.validatePassword" placeholder="password">
            </mat-form-field>
        </tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="row">
        <span>
            <button mat-raised-button (click)="this.closeModal()">Close</button>
        </span>
        <span>
            <button mat-raised-button (click)="this.postPrivateRoom()">Post</button>
        </span>
    </mat-card-actions>
</ng-container>
<ng-template #modal_private>
    <mat-card-title class="row">make this room public</mat-card-title>
    <mat-card-content class="row">
        <table>
            <tr>
                <mat-form-field>
                    <mat-label> enter password </mat-label>
                    <input matInput type="password"
                        [(ngModel)]="this.password" placeholder="password">
                </mat-form-field>                            
            </tr>
            <tr>
                <mat-form-field>
                    <mat-label> confirm password </mat-label>
                    <input matInput type="password" 
                        [(ngModel)]="this.validatePassword" placeholder="password">
                </mat-form-field>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="row">
        <span>
            <button mat-raised-button (click)="this.closeModal()">Close</button>
        </span>
        <span>
            <button mat-raised-button (click)="this.postPrivateRoom()">Post</button>
        </span>
    </mat-card-actions>
</ng-template>
</mat-card>
