<div style="padding-bottom: 50px;">
    
    <div class="master">
        <h1 style="color: rgb(242, 242, 242);">VIEW PANEL</h1>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <mat-tab-group mat-stretch-tabs mat-align-tabs="end" color="warn" aria-label="primary">
        <mat-tab label="PUBLIC {{ROOM_PUBLIC.length}}">
            <section>
                <cdk-virtual-scroll-viewport class="efecct" class="scroll" itemSize="5">
                    <mat-chip-list style="padding-top: 10px;" *ngFor="let room of ROOM_PUBLIC">
                        <mat-chip class="tag">
                            <span> lol </span>
                        </mat-chip>
                    </mat-chip-list>
                </cdk-virtual-scroll-viewport>
            </section>
        </mat-tab>
        <mat-tab label="PRIVATE {{ROOM_PUBLIC.length}}">
            <div>
                <cdk-virtual-scroll-viewport class="efecct" class="scroll" itemSize="5">
                    <mat-chip-list style="padding-top: 10px;" *ngFor="let room of ROOM_PUBLIC">
                        <mat-chip class="tag">
                            <span> lol </span>
                        </mat-chip>
                    </mat-chip-list>
                </cdk-virtual-scroll-viewport>
            </div>
        </mat-tab>

        <mat-tab label="NEW">

        </mat-tab>
        
    </mat-tab-group>
    
  
</div>