@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}


::ng-deep .mat-menu-panel {
	background-color: #6f15e5;
	// width: 5vw;
	justify-content: center;
	display: grid;
	align-items: center;

  }

  span{
	color: white;
  }

  ::ng-deep .mat-menu-item{
	color: rgb(245, 245, 245);
  }

.badge {


	display: grid;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: initial;

	.avatar {
		position: relative;
		background: greenyellow;
		//z-index: 1;
		left: 5px;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 4px solid rgba(255, 255, 255, 0.24);
		content: "";
		background-image: linear-gradient(var(--rotate), #3c4f55, #a8a8a8 43%, #d1d1d1);
		animation: spin 2.5s linear infinite;
		top: -1%;
		left: -2%;

		img {
			width: 100%;
			height: 100%;
		}

	}

	.online {
		position: relative;
		background: greenyellow;
		//z-index: 1;
		left: 5px;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 4px solid rgba(13, 24, 236, 0.24);
		// border: 4px solid #f400e3;

		
		content: "";
		background-image: linear-gradient(var(--rotate), #11c4d8, #750ec9 43%, #ea0a7a79);
		top: -1%;
		left: -2%;
		animation: spin 2.5s linear infinite;

		img {
			width: 100%;
			height: 100%;
		}

	}
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}

	100% {
		--rotate: 360deg;
	}
}


.icon-display {
	transform: scale(0.6) translateX(42px);
	color: greenyellow;
	box-shadow: inset 4px;
}