<div style="display: flex; align-items: center; justify-content: center; ">
    <div  *ngFor="let player of players;"
        style="margin: 5px; display:grid; align-items: center; justify-content: center;" [matMenuTriggerFor]="menu"
        aria-label="options">
        <div class="badge">
            <figure class="avatar" *ngIf="!player.defaultOffline && !player.role.is_banned">
                <img src={{player.photoUrl}} alt={{player.username}} />
                <!-- <figcaption style="font-size:7px; "></figcaption> -->
            </figure>
            <figure class="online" *ngIf="player.defaultOffline && !player.role.is_banned">
                <img src={{player.photoUrl}} alt={{player.username}} />
            </figure>
            <figure class="banned" *ngIf="player.role.is_banned">
                <img src={{player.photoUrl}} alt={{player.username}} />
            </figure>
            <mat-icon *ngIf="player.role.is_admin && !player.role.is_owner_room"
                [ngStyle]="{'color': 'red', 'font-size':'30px'}" class="icon-display"
                style="position: absolute; bottom: -5px; ">gamepad</mat-icon>
            <mat-icon *ngIf="player.role.is_owner_room" [ngStyle]="{'color': '#f400e3', 'font-size':'30px'}"
                class="icon-display" style="position: absolute; bottom: -5px; ">verified</mat-icon>
        </div>

        
        <mat-menu #menu="matMenu">
            <!--disabled option -->
            <button mat-menu-item [routerLink]="['/profile', player.username]">
                <mat-icon>person</mat-icon>
                <span>{{player.nickName}}</span>
            </button>
            <section *ngIf="this.me && this.me?.id != player.id">
                <button mat-menu-item (click)="sendInvitationGame(player)">
                    <mat-icon>videogame_asset</mat-icon>
                    <span>Game</span>
                </button>

                <!--  view if owner  -->
                <div *ngIf="is_owner_room">

                    <div *ngIf="!player.role.is_owner_room && !player.role.is_admin && this.is_owner_room">
                        <button mat-menu-item (click)="set_admin(player)">
                            <mat-icon>gamepad</mat-icon>
                            <span>Admin</span>
                        </button>
                    </div>
                    
                    <div *ngIf="!player.role.is_owner_room && player.role.is_admin && this.is_owner_room">
                        <button mat-menu-item (click)="deleted_admin(player)">
                            <mat-icon>deleted</mat-icon>
                            <span>Admin role</span>
                        </button>
                    </div>
                    
                </div>
                                <!--  view if admin  -->
                <div *ngIf="(this.me?.role?.is_admin && (!player.role.is_admin && !player.role.is_owner_room)) || is_owner_room">
                <div *ngIf="!player.role.is_silenced">
                    <button mat-menu-item (click)="set_silenced(player)">
                        <mat-icon>voice_over_off</mat-icon>
                        <span>Silenced</span>
                    </button>
                </div>

                <div *ngIf="player.role.is_silenced ">
                    <button mat-menu-item (click)="deleted_silenced(player)">
                        <mat-icon>record_voice_over</mat-icon>
                        <span>Silenced off</span>
                    </button>
                </div>

                    <button mat-menu-item (click)="set_ban(player)" *ngIf="!player.role.is_banned">
                        <mat-icon>do_not_disturb_off</mat-icon>
                        <span>Ban</span>
                    </button>

                    <button mat-menu-item (click)="un_banned(player)" *ngIf="player.role.is_banned">
                        <mat-icon>do_not_disturb_on</mat-icon>
                        <span>Unban</span>
                    </button>
                    <button mat-menu-item (click)="leave(player)">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Leave</span>
                    </button>
                </div>
            </section>
        </mat-menu>
    </div>
</div>