<div style="display: flex; align-items: center; justify-content: center; ">
    <div *ngFor=" let player of players;"
        style="margin: 5px; display:grid; align-items: center; justify-content: center;" [matMenuTriggerFor]="menu"
        aria-label="options">
        <div class="badge">
            <figure class="avatar" *ngIf="!player.defaultOffline">
                <img src={{player.photoUrl}} alt={{player.username}} />
                <!-- <figcaption style="font-size:7px; "></figcaption> -->
            </figure>
            <figure class="online" *ngIf="player.defaultOffline">
                <img src={{player.photoUrl}} alt={{player.username}} />
            </figure>
            <mat-icon *ngIf="player.is_admin && !player.is_owner_room" [ngStyle]="{'color': 'red', 'font-size':'30px'}" class="icon-display"
                style="position: absolute; bottom: -5px; ">gamepad</mat-icon>
            <mat-icon *ngIf="player.is_owner_room" [ngStyle]="{'color': '#f400e3', 'font-size':'30px'}" class="icon-display"
                style="position: absolute; bottom: -5px; ">verified</mat-icon>
        </div>
        <mat-menu #menu="matMenu" >
            <!--disabled option -->
            <button mat-menu-item [routerLink]="['/profile/', player.username]">
                <mat-icon>person</mat-icon>
                <span>{{player.nickName}}</span>
            </button>
            <section *ngIf="this.me?.id != player.id">
                <button mat-menu-item (click)="sendInvitationGame(player)">
                    <mat-icon>videogame_asset</mat-icon>
                    <span>Game</span>
                </button>
                <button mat-menu-item (click)="goTochat(player)">
                    <mat-icon>chat</mat-icon>
                    <span>Chat</span>
                </button>

                <!--  view if admin  -->
                <div *ngIf="is_admin && !player.is_admin || is_owner_room && !player.is_owner_room">
                    <button mat-menu-item>
                        <mat-icon>block</mat-icon>
                        <span>Block</span>
                    </button>
                    <button mat-menu-item (click)="leave(player)">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Leave</span>
                    </button>
                </div>
            </section>
        </mat-menu>
    </div>
</div>