<h3 class="title" mat-dialog-title> {{data.title}}</h3>
<section mat-dialog-content class="notification" >
  <div class="badge">

    <figure class="avatar">
      <img src={{data.user.photoUrl}} />
    </figure>
    <h5 style="color: aliceblue;">{{data.user.nickName}}</h5>
  </div>
</section>
<mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
<section style="color: rgb(84, 16, 230)" mat-dialog-actions>
  <button mat-button mat-dialog-close> close</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</section>