<script src="room.component.ts"></script>


  <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl" class="tree" >
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->

    <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding="3px" >
      <a  [routerLink]="[{ outlets: { chat: ['chat', node.name ] } }]"
      >
        # {{node.name}}
      </a>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" 
                   matTreeNodePadding="3px"
                   style="color: white;
                   border: 1px solid rgba(245, 245, 245, 0.29);">
      <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
                style=" align-content: center">
        <mat-icon class="mat-icon-rtl-mirror" >
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
        {{node.name}}
    </mat-tree-node>
  </mat-tree>


