<br>
<mat-tab-group  mat-align-tabs="start" color="primary" aria-label="primary" mat-stretch-tabs="true" style="padding: 10px;">

  <mat-tab label="CHATS {{CHATS_USERS.length}}" >
    <div style=" padding: 20px; font-size: small; align-items: center; justify-content: center; align-items: center;">
      <cdk-virtual-scroll-viewport class="efecct" class="scroll" itemSize="5" >
        <mat-chip-list style="padding-top: 10px;" *ngFor="let user of CHATS_USERS">
          <mat-chip class="tag" [routerLink]="[ '/', { outlets: {  chat: ['chat', user.nickName ] } }]">
            <img class="avatar"  *ngIf="!user.defaultOffline" style="padding-left:0;" src={{user.photoUrl}}
              alt={{user.nickName}} />
            <img class="avatar_online" *ngIf="user.defaultOffline" style="padding-left:0;" src={{user.photoUrl}}
              alt={{user.nickName}} />
               
               
              <span> {{user.nickName}} </span>
            </mat-chip>
        </mat-chip-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-tab>

  <mat-tab label="ROOM {{ROOM_USER}}">
    <section style=" padding: 20px; font-size: small; align-items: center; justify-content: center; align-items: center;">
      <cdk-virtual-scroll-viewport class="efect" class="scroll" itemSize="5">
        <mat-chip-list style="padding-top: 10px;" *ngFor="let room of ROOM_USER">
      <mat-chip class="tag" [routerLink]="[ '/', { outlets: {  game: ['room', room.id ] } }]">
        <img class="avatar" style="padding-left:0;" src={{room.photoUrl}}
              alt={{room.roomName}} />
        <span>{{room.roomName}}</span>
      </mat-chip>
    </mat-chip-list>

    </cdk-virtual-scroll-viewport>

    </section>
  </mat-tab>

  <mat-tab label="FRIENDS  {{FRIENDS_USERS.length}}">
    <section
      style=" padding: 20px; font-size: small; align-items: center; justify-content: center; align-items: center;">
      <cdk-virtual-scroll-viewport class="efect" class="scroll" itemSize="5">
        <mat-chip-list style="padding-top: 10px;" *ngFor="let user of FRIENDS_USERS">
          <mat-chip class="tag" [routerLink]="['/home/profile/', user.username]">
            <img class="avatar_online" *ngIf="user.defaultOffline" style="padding-left:0;" src={{user.photoUrl}}
              alt={{user.nickName}} />
            <img class="avatar" *ngIf="!user.defaultOffline" style="padding-left:0;" src={{user.photoUrl}}
              alt={{user.nickName}} />
            <span> {{user.nickName}} </span>
          </mat-chip>

        </mat-chip-list>
      </cdk-virtual-scroll-viewport>
    </section>
  </mat-tab>
</mat-tab-group>