<div id="ranking-container">
    <table mat-table [dataSource]="ranking">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef> Rank </th>
            <td mat-cell class="rank-cell" *matCellDef="let element">
                {{element.rank}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="player">
            <th mat-header-cell *matHeaderCellDef> Player </th>
            <td style="display: grid; justify-content:center; align-items: center  " mat-cell *matCellDef="let element">
                    <img class="avatar" src="{{element.photoUrl}}" [routerLink]="['/profile', element.username]">
                <p class="ranking-nickname">{{element.nickName}}</p>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>
    
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pageSize"
                    [length]="totalUsers"
                    (page)="pageEventHandler($event)">
    </mat-paginator>
</div>
