.notification {
    background: repeating-linear-gradient(to bottom,
            black,
            black 2px,
            // lighten(#050560, 3%) 2px,
            lighten(#17122d, 3%) 4px,
            lighten(#17122d, 3%) 4px);
    width: 350px;
    padding: 10px;
    padding-left: 30px;
}

.scroll {
    height: 30vh;
    position: relative;
    color: white;
    /* box-shadow: 0 0 4px 0 goldenrod; */
    border-radius: 20px;
    flex-direction: column-reverse;

}

.tag {
	padding: 15px;
	height: 70px;
	width: 80%;
  
	background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);
	color: white;
	margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 9px;

    &:hover {
        color: goldenrod;
    }
}


::ng-deep .mat-icon {
    color: white;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white !important;
}

.avatar {
    position: relative;

    border-radius: 50%;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 3px solid rgba(255, 255, 255, 0.24);
    img {
        width: 100%;
        height: auto;
    }
}

 .mat-divider {
    border-top-color: white !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}
