<h2 style="color: rgb(84, 16, 230);   width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;" mat-dialog-title>
    FRIENDS REQUEST
</h2>
<section mat-dialog-content class="notification"
    style=" font-size: small; align-items: center; justify-content: center; align-items: center;">
    <cdk-virtual-scroll-viewport class="efect" class="scroll" itemSize="5">
        <mat-chip-list style="padding-top: 10px;" *ngFor="let user of FRIENDS_USERS_PENDDING">
            <mat-chip class="tag">
                <img class="avatar" style="padding-left:0;" src={{user.photoUrl}} alt={{user.nickName}} />
                <a [routerLink]="['/profile', user.username]">
                    <span style="margin-left: 4px;">{{user.nickName.toUpperCase()}}</span></a>
                    <a mat-icon-button (click)="add_friend(user.id)">
                        <mat-icon>check_small</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete_friend(user.id)"><mat-icon>person_remove</mat-icon></a>
                </mat-chip>
            <mat-divider></mat-divider>
        </mat-chip-list>
    </cdk-virtual-scroll-viewport>
</section>
<div style="color: rgb(84, 16, 230)" mat-dialog-actions>
    <button mat-button mat-dialog-close>CLOSE</button>
</div>