@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/super-mario-world-text-box');
* {  box-sizing: border-box;
}
body, html {
  font-family: 'Super Mario World Text Box', sans-serif;
  margin: 0;
  padding: 0;
  // background: repeating-linear-gradient(
  //   to bottom,
  //   black,
  //   black 2px,
  //   // lighten(#050560, 3%) 2px,
  //   lighten(#17122d, 3%) 4px,
  //   lighten(#17122d, 3%) 4px
  //   );
    //opcional
  // background-image: url("https://wallpaperaccess.com/full/7009391.jpg");
  // background-image: url("https://c1.wallpaperflare.com/preview/532/555/810/art-graffiti-wall-table-tennis.jpg");
  background-color: black;

  
  opacity: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.logo{
  h1 {
    position: relative;
    font-size: 2rem;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    align-content: center;
    box-shadow: black;
    span:first-child {
      display: block;
      -webkit-text-stroke: 0.06em rgba(black, 0.5);
    }

    span:last-child {
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #fc1689 75%);
      -webkit-text-stroke: 0.01em #94a0b9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


:root{
  --status: rgba(39, 234, 9, 0.956);
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// html, body { height: 100%; }
// body { margin: 0; font-family: 'Super Mario World Text Box', sans-serif; }

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-divider {
  border-top-color: white !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;

}
html, body { height: 100%; }
body { margin: 0;  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
