#match-history-container {
    min-width: 500px;
}

table {
    width: 100%;
    text-align: center;
    color: white;
    background-color: transparent;
}

.mat-header-cell {
    text-align: center;
    border-bottom: 3px solid white;
    color: inherit;
    background-color: rgba($color: indigo, $alpha: 0.7);;
}

.mat-cell {
    color: inherit;
    border-bottom: 1px solid white;
}

.win {
    background-color: rgba($color: limegreen, $alpha: 0.7);
}

.lose {
    background-color: rgba($color: firebrick, $alpha: 0.7);
}

mat-paginator {
    color: white;
    background-color: rgba($color: indigo, $alpha: 0.7);
    border-bottom: 1px solid white;
}
