/*--------------------
Mixins
--------------------*/
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin ball {
	@include center;
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
	z-index: 2;
	margin-top: 4px;
	animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}


/*--------------------
  Body
  --------------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}



/*--------------------
  Chat
  --------------------*/
.chat-min {
	position: absolute;
	width: 15rem;
	float: left;

	z-index: 2;
	overflow: hidden;

	border-radius: 20px;
	// border: 1px solid rgba(245, 245, 245, 0.29);
	border: outset 3px silver;
	border-bottom: none;

	box-shadow: 0 10px 30px black;
	// right: -8vw;
	right: 0;

	// right: 1vw;

	bottom: 1vh;
	background: linear-gradient(180deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);

	// &:hover{
	// 	right: 1vw;
	// 	animation: bounce-in 2s ease;

	// }

	animation: bounce-in 2s ease;

	.icon {
		display: flex;
		z-index: 10;
		padding: 0;
	}

	@keyframes bounce-in {
		0% {
			opacity: 0;
			transform: scale(.3);
		}

		50% {
			opacity: 1;
			transform: scale(1.05);
		}

		70% {
			transform: scale(.9);
		}

		100% {
			transform: scale(1);
		}
	}

	.message,
	.message-box {

		display: none;
	}

}


.chat {
	width: 97%;
	height: 70%;
	display: flex;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	box-shadow: 0 10px 30px black;
	background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);

	// border: 1px solid rgba(245, 245, 245, 0.29);
	border: outset 3px silver;

	flex-direction: column;
	animation: fade-in 2s linear both;

	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

/*--------------------
  Chat Title
  --------------------*/
.chat-title {
	//flex: 0 1 45px;
	position: relative;
	z-index: 10;
	display: flex;
	// border: 1px solid rgba(245, 245, 245, 0.29);
	border-bottom: outset 3px silver;
	background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);

	// border-top: none;

	color: #fff;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	height: 3rem;

	h1,
	h2,
	span {
		font-weight: normal;
		font-size: 8px;
		margin: 0;
		padding: 0;
	}

	h2 {
		color: rgba(255, 255, 255, .5);
		font-size: 8px;
		letter-spacing: 1px;
	}

	.badge {
		display: flex;
		align-items: center;
		text-align: center;
		padding: 0;
		margin: 0;
		position: relative;
		overflow: initial;


		.avatar {
			border-radius: 30px;
			width: 40px;
			height: 40px;
			overflow: hidden;
			margin: 0;
			padding: 0;
			border: 2px solid rgba(255, 255, 255, 0.24);

			img {
				width: 100%;
				height: auto;
			}
		}
	}

}


/*--------------------
  Messages
  --------------------*/
.messages {
	flex: 1 1 auto;
	color: rgb(255, 255, 255);
	position: relative;
	width: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: column-reverse;


	& .messages-content {
		position: absolute;
		top: 0;
		left: 0;

		height: 101%;
		width: 100%;
	}


	.message {
		clear: both;
		float: left;
		padding: 6px 10px 7px;
		border-radius: 10px 10px 10px 0;
		background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
		font-size: 1rem;
		margin: 3px 0 3px 35px;
		position: relative;
		line-height: 2;
		word-break:break-all;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);


		.avatar {
			position: absolute;
			z-index: 1;
			bottom: -15px;
			left: -30px;
			border-radius: 30px;
			width: 30px;
			height: 30px;
			overflow: hidden;
			margin: 0;
			padding: 0;
			border: 2px solid rgba(255, 255, 255, 0.24);

			img {
				width: 100%;
				height: auto;
			}
		}

		&.message-personal {
			float: right;
			color: #fff;
			text-align: right;
			border-radius: 10px 10px 0 10px;

			&::before {
				left: auto;
				right: 0;
				border-right: none;
				border-left: 5px solid transparent;
				border-top: 4px solid #04b5e6;
				bottom: -4px;

			}
		}

		&:last-child {
			margin-bottom: 20px;
			margin-top: 7px;
		white-space: break-word;

		}

		&.new {
			transform: scale(0);
			transform-origin: 0 0;
			animation: bounce 500ms linear both;
			color: #fff;
			background: linear-gradient(90deg, #0f1f32 0%, #3F5EFB 100%);
		}
	}
}


/*--------------------
  Message Box
  --------------------*/
.message-box {
	flex: 0 1 40px;
	width: 100%;
	//background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
	//background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);
	// border: 1px solid rgba(245, 245, 245, 0.29);
	border-top: outset 3px silver;
	background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);

	padding: 10px;
	position: relative;

	& .message-input {
		background: none;
		border: none;
		outline: none !important;
		  resize: none;
		font-size: 11px;
		height: 42px;
		margin: 0;
		padding-right: 20px;

		width: 85%;
		color: white;
		//   width: 265px;
	}

	textarea:focus:-webkit-placeholder {
		color: transparent;
	}


	& .message-submit {
		position: absolute;
		z-index: 1;
		bottom: 10px;
		right: 10px;
		color: rebeccapurple;
		border: none;
		background: whitesmoke;
		font-size: 10px;
		text-transform: uppercase;
		line-height: 1;
		padding: 6px 10px;
		border-radius: 10px;
		outline: none !important;
		transition: background .2s ease;

		&:hover {
			background: rebeccapurple;
			color: whitesmoke;
		}
	}
}


/*--------------------
  Custom Srollbar
  --------------------*/
.mCSB_scrollTools {
	margin: 1px -3px 1px 0;
	opacity: 0;
}

.mCSB_inside>.mCSB_container {
	margin-right: 0;
	padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0, 0, 0, 0.5) !important;
}


/*--------------------
  Bounce
  --------------------*/
@keyframes bounce {
	0% {
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	4.7% {
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	9.41% {
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	14.11% {
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	18.72% {
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	24.32% {
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	29.93% {
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	35.54% {
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	41.04% {
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	52.15% {
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	63.26% {
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	85.49% {
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}

	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}


@keyframes ball {
	from {
		transform: translateY(0) scaleY(.8);
	}

	to {
		transform: translateY(-10px);
	}
}

.full-width {
	width: 100%;
	color: white;
	font-size: small;
	margin-top: 10px;
}