<h2 mat-dialog-title>
    Game Instructions
</h2>
<mat-dialog-content class="mat-typography">
    <h3 class="content-title">Rules</h3>
    <p>
        When the ball reaches one of the game window's side limits,
        the player defending the opposite side wins a point.
    </p>
    <p>The first player that wins 5 points wins the match.</p>

    <h3 class="content-title">Versions</h3>
    <p>
        There are two game versions.
    </p>
    <ul>
        <li>
            <p>
                <span class="version-title">Classic:</span>
                Each player controls a paddle that can move up or down.
            </p>
        </li>
        <li>
            <p>
                <span class="version-title">Hero:</span>
                Each player controls a paddle that can move up or down,
                and a hero that can appear from the top or the bottom of
                the player's side. Each hero has unique trajectories and
                can be invoked once per point.
            </p>
        </li>
    </ul>

    <h3 class="content-title">Controls</h3>
    <div id="controls-container">
        <div class="controls-child">
            <h3 class="control-title">Paddle</h3>
        </div>
        <div class="controls-child">
            <h3 class="control-title">Hero</h3>
        </div>
        <div class="controls-child">
            <div>
                <img class="control-key" src="/assets/up_key.png">
                <p class="control-text">Up</p>
            </div>
        </div>
        <div class="controls-child">
            <div>
                <img class="control-key" src="/assets/w_key.png">
                <p class="control-text">Up</p>
            </div>
        </div>
        <div class="controls-child">
            <div>
                <img class="control-key" src="/assets/down_key.png">
                <p class="control-text">Down</p>
            </div>
        </div>
        <div class="controls-child">
            <div>
                <img class="control-key" src="/assets/s_key.png">
                <p class="control-text">Down</p>
            </div>
        </div>
    </div>
    <h3 class="content-title">Display Game Instructions</h3>
    <p>
        Press CTRL + SHIFT + i keys.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
