.container {
	display: flex;
	flex-direction: column;
	height: 93%; 
	justify-content: center;
	align-items: center;
	// height: 100%;
	// bottom: 0;
	background-image: url("https://cdna.artstation.com/p/assets/images/images/021/720/920/original/pixel-jeff-mario.gif?1572709433");
	background-image: steps(4);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	// background-repeat: no-repeat;
	.title {
	  color: white;
	}
}



.content {
	width: 50vw;
	height: 10vh;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.647);
	border: outset 2px silver;
    border-radius: 22px;
	flex-grow: 50;
	min-height: 0; /* Asegura que el div se extienda hacia abajo */
	animation: fade-in 2s linear both;
	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
  }



.search-box {
	width: 175px;
	// min-width: 20vh;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(245, 245, 245, 0.29);
	padding: 14px;
	// tex;
	border-radius:25px;
	box-shadow: 0 10px 30px black;

	& .search-input {
	  background: none;
	  border: none;
	  outline: none!important;
	  resize: none;
	  color: rgb(9, 9, 9);
	  font-size: 14px;
	  margin: 0;
	}
	textarea:focus:-webkit-placeholder{
	  color: transparent;
	}
	animation: fade-in 2s linear both;

	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
  }

