<div mat-dialog-content>
    <p>Provide room old password</p>
    <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" [(ngModel)]="passData.oldPassword">
    </mat-form-field>
    <p>Provide room new password</p>
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="passData.newPassword">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="passData" cdkFocusInitial>Enter</button>
</div>
