<div class="header">
  <div style="display: flex; position: relative; align-items: center;">
   <figure  class="avatar">
    <img src="https://cdn.intra.42.fr/users/krios-fu.jpg"  alt="krios-fu" />
    </figure>
    <div style=" padding: 13px; bottom: initial">
      {{getName()}}
     </div>
  </div>

  <div style="position: center;">
    <h1>
      <span>PING PONG</span>
      <span>PING PONG</span>
    </h1>
  </div>

  <div style="width: 20vw;">
    <div class="search-box">
      <form (ngSubmit)="search()" [formGroup]="formMessage">
        <input formControlName="message" type="text" class="search-input" placeholder="Search">
      </form>
  </div>
  </div>


</div>

<div class="row">

  <div class="column1" >
    <div style="padding: 5px; border-bottom: solid #d1d2d380; padding: 21px 0 21px 0px; justify-content: center; text-align: center;">

    <a [routerLink]="[{ outlets: { chat: ['chat'] } }]" style="color: white;" >
    <h1>
      chat
    </h1>
    </a>
    </div>
    <div style="padding: 5px;">
    <a  [routerLink]="[{ outlets: { center: ['login'] } }]" style="color: white;">
      login
    </a>
    </div>
  </div>

  <div class="column2" >
    <div style="padding: 5px;  padding: 21px 0 21px 0px; justify-content: center; text-align: center;">
      <h1 style="color: white">hola mundo</h1>
    </div>
    <router-outlet name="center"></router-outlet>
  </div>
  <div class="column3">
    <router-outlet name="chat"></router-outlet>
  </div>



</div>
