<app-header></app-header>

<div class="row">
  <div class="column1 ">
    <app-navheader></app-navheader>
    <br>
    <app-room (chat)="send_chat_profile($event)" ></app-room>
  </div>
  <div class="column2" >
<!--    <nav>-->
<!--      <div class="title" >-->
<!--&lt;!&ndash;        <a [routerLink]="[{ outlets: { chat: ['chat', 'krios-fu'] } }]"  >&ndash;&gt;-->
<!--&lt;!&ndash;          <h1>&ndash;&gt;-->
<!--&lt;!&ndash;            PLAY&ndash;&gt;-->
<!--&lt;!&ndash;          </h1>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--      </div>-->
<!--    </nav>-->
    <router-outlet name="center"></router-outlet>
  </div>
  <div class="column3" >
    <router-outlet name="chat" ></router-outlet>
<!--    <app-chat></app-chat>-->
  </div>
</div>

