* {  box-sizing: border-box;
}


/* Estilo del encabezado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  font-size: 10px;
  color: white;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  width: 100%;

  flex: 0 1 45px;
  position: relative;
  //z-index: 2;
  h1 {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    transform: skew(-15deg);
    letter-spacing: 0.03em;

    &::after {
      content: '';
      position: absolute;
      top: -0.1em;
      right: 0.05em;
      width: 0.4em;
      height: 0.4em;
      background: radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%), radial-gradient(rgba(white, 0.2) 50%, transparent 60%), radial-gradient(rgba(white, 0.2) 50%, transparent 60%) no-repeat 50% 50%;
    }

    span:first-child {
      display: block;
      text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
      -webkit-text-stroke: 0.06em rgba(black, 0.5);
    }

    span:last-child {
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #fc1689 75%);
      -webkit-text-stroke: 0.01em #94a0b9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  .avatar{
    position: relative;
    background: lawngreen;
    //z-index: 1;
    left: 6px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);

    img {
      width: 100%;
      height: auto;
    }
  }
  .search-box {
    width: 20vw;
    min-width: 20vh;

    background: whitesmoke;
    padding: 14px;
    border-radius:25px;
    border: none;
    box-shadow: 0 10px 30px black;

    & .search-input {
      background: none;
      border: none;
      outline: none!important;
      resize: none;
      color: black;
      font-size: 14px;
      margin: 0;
    }

    textarea:focus:-webkit-placeholder{
      color: transparent;
    }

  }

}



/* Create 3 columnas*/
.column1  {
  float: left;
  width: 20%;
  padding: 0;
  height: auto;
  background: inherit;
  //box-shadow: 0 px 30px black;


}

.column3 {
  float: right;
  width: 20%;
  min-width: 21rem;
  min-height: 21rem;
  padding: 0;
  background: inherit;

  border-color:rgba(39,39,42, 1);


  height: auto;
}

.column2 {
  float: left;
  width: 60%;
  padding: 10px;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 30px black;

  //box-shadow: 0 0 50px black ;
  //border-radius: 10%;


  background-color: inherit;
  height: auto;
}

/* Clear floats after the columns */
.row {
  height: calc(100vh - 4rem);
  display: flex;
  clear: both;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 1200px) {
  .column {
    width: 100%;
  }

}
