.avatar {
  position: relative;
  background: lawngreen;
  //z-index: 1;
  left: 3px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);

  img {
    width: 100%;
    height: auto;
  }
}

div{
  border: 1px solid rgba(245, 245, 245, 0.29);
  //border-bottom: none;
  &:last-child{
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
  }

}
