<div style="padding-bottom: 50px;">
    
    <div class="master">
        <h1 style="color: rgb(242, 242, 242);">VIEW PANEL</h1>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <mat-tab-group mat-stretch-tabs mat-align-tabs="end" color="warn" aria-label="primary">
        <mat-tab label="PUBLIC {{ROOM_PUBLIC.length}}">
            <app-room-list roomPrivacy="public"></app-room-list>
        </mat-tab>
        <mat-tab label="PRIVATE {{ROOM_PUBLIC.length}}">
            <app-room-list roomPrivacy="private"></app-room-list>
        </mat-tab>

        <mat-tab label="NEW">
            <app-room-creation-form></app-room-creation-form>
        </mat-tab>
        
    </mat-tab-group>
    
  
</div>

<!-- <div class="master">

    <h1 style="color: rgba(230, 219, 240, 0.38);">ROOM</h1>
 
<section style=" padding: 20px; font-size: small; align-items: center; justify-content: center; align-items: center;">
    <mat-chip class="tag" [routerLink]="">
        <span>PUBLIC</span>
    </mat-chip >
    <mat-chip class="tag" [routerLink]="">
        <span>PRIVATE</span>
    </mat-chip>
</section>
  </div> -->

<div>
    <router-outlet></router-outlet>
</div>
