<div id="container">
    <div id="container-sub">
        <div id="container-title">
            <h1>
                ROOM ID: <span>42</span>
            </h1>
        </div>
        <app-game-queue></app-game-queue>
        <div id="game_zone"></div>
    </div>
</div>
<cdk-virtual-scroll-viewport class="cdk-virtual-scroll-content-wrapper"
    style=" height: 10vh; position: relative; color: white;" itemSize="5">
    <section>
        <app-online></app-online>
    </section>
</cdk-virtual-scroll-viewport>
