<section class="row">
  <div class="column1 " style="border: outset 4px silver;">
    <section class="badge">
      <img class="avatar" src={{getPhotoUrl()}} />
    </section>
    <section style="margin-top: 5px;" class="center" *ngIf="user">
      <h1 style="font-size: 25px; padding-top: 20px">
        <mat-icon [ngStyle]="{'color': color_icon}" class="icon-display">{{online_icon}}</mat-icon>
        {{getNickname()}}
      </h1>
    </section>

    <div *ngIf="user" style="display: grid; justify-content: center; align-items: center; padding: 21px; margin: 50px">
      <span>

        <h3 style="color : goldenrod;"> <mat-icon>scoreboard</mat-icon> {{user.ranking}}</h3>
      </span>
      <span>

        <h3 style="color : rgb(0,149,255);"><mat-icon>leaderboard</mat-icon> 1</h3>
      </span>
      <span>

        <h3 style="color : rgb(255,0,47);"> <mat-icon>trending_down</mat-icon> 42</h3>
      </span>
    </div>
<!-- 

    <div style="width: 100%;">
      <div class="search-box">
        <form (ngSubmit)="search()" [formGroup]="formMessage">
          <input formControlName="message" type="text" class="search-input" placeholder="Search">
        </form>
      </div>
    </div> -->

    <!-- <app-search [users]="searching"></app-search> -->

  </div>

  <div class="column2" style="border: outset 4px silver;">
    <!-- <app-room></app-room> -->
    <app-stats *ngIf="this.user" [username]="this.user.username"></app-stats>
  </div>
</section>