<section class="row">
  <div class="column1" style="border: outset 4px silver;">
    <section class="badge">
      <img class="avatar" src={{getPhotoUrl()}} />
    </section>
    <section style="margin-top: 5px;" class="center" *ngIf="user">
      <h1 style="font-size: 25px; padding-top: 20px">
        <mat-icon [ngStyle]="{'color': color_icon}" class="icon-display">{{online_icon}}</mat-icon>
        {{getNickname()}}
      </h1>
    </section>


    <div *ngIf="user" style="display: flex; justify-content: center; align-items: center; margin: 30px; ">
      <mat-icon>scoreboard</mat-icon>
          <h3 style="color : goldenrod; padding-left: 10px">{{user.ranking}}</h3>
          <app-achievements *ngIf="user" [username]="user?.username"></app-achievements>
  </div>



  </div>

  <div class="column2" style="border: outset 4px silver;">
    <!-- <app-room></app-room> -->
    <app-stats *ngIf="this.user" [username]="this.user.username"></app-stats>
  </div>
</section>