
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  font-size: 10px;
  color: white;
  background: linear-gradient(90deg, rgba(28, 181, 224, 0.25) 0, rgba(0, 8, 81, 0.25) 100%);
  width: 100%;
  flex: 0 1 45px;
  position: relative;
  padding: 12px 15px 0 30px;


  .search-box {
    width: 20vw;
    min-width: 20vh;
    border: 1px solid rgba(245, 245, 245, 0.29);
    padding: 14px;
    border-radius:25px;
    box-shadow: 0 10px 30px black;

    & .search-input {
      background: none;
      border: none;
      outline: none!important;
      resize: none;
      color: whitesmoke;
      font-size: 14px;
      margin: 0;
    }
    textarea:focus:-webkit-placeholder{
      color: transparent;
    }
  }
}
